<div class="card-table">
<h1>Visitors Logg</h1>
<% if @visits.empty? %>
    <h2><b>No visits to show!</b></h2></br>
    <p >That's just sad :(</p></br>
<% else %>
  <table class="table table-bordered table-striped table-hover table-responsive" >
    <thead class="thead-inverse">
      <tr>
        <th>Visit Time</th>
        <th>Remote Host</th>
        <th>Remote address</th>
        <th>User Agent</th>
        <th>HTTP Referer</th>
        <th>Request URI</th>
      </tr>
    </thead>
    <tbody>
      <% @visits.each do |visit| %>
        <tr>
          <td><%= visit.created_at.to_time %></td>
          <td><%= visit.remote_host.titleize %></td>
          <td><%= visit.remote_addr.titleize %></td>
          <td><%= visit.http_user_agent["browser"].titleize %></td>
          <td><%= visit.http_referer.titleize %></td>
          <td><%= visit.request_uri.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p><%= link_to 'Back To Home', root_path %> |
   <%= link_to "Edit Account", edit_admin_registration_path %> |
   <%= link_to "Empty logg",empty_logg_visits_path, method: :get, data: { confirm: 'Are you sure you want to do this?', title: 'Delete logg!' }%></p>
</div>
