<div class="card">
  <h1>Your Shorty!</h1></br>
  <strong><p>Use the shorty instead of your original URL and we'll redirect the visitors.</br></strong>
   Save your admin code if you want to get back to this page.</p></br>
   <p>
     <strong>Url:</strong>
     <%= @link.url %>
   </p>
   <p>
     <strong>Shorty:</strong>
     <%= root_url + @link.url_short %>
   </p>
   <p>
     <strong>Admin code:</strong>
     <%= @link.admin_code %>
   </p>
   <p><%= link_to 'Delete Shorty', @link, method: :delete, data: { confirm: 'Are you sure you want to do this?', title: 'Delete Shorty!' } %> | <%= link_to 'Back To Start', root_path %></p>
  <p><button class="clipboard-btn btn btn-primary" data-clipboard-text= "<%= root_url + @link.url_short %>">Copy Shorty to clipboard</button></p>
  <% if admin_signed_in? %>
    <p><%= link_to "Show Logg", visits_path %></p>
  <% end %>
</div>
